.counter{
    display: flex;
    align-items: center;
    gap: 10px;
}
.actionButton {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #C1B6AD;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.actionButton:hover {
    background-color: #403F3D;
}
.itemQuantity {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #403F3D;
}